@import "tailwindcss";

@theme {
  /* Ini akan memaksa Tailwind membuat class .font-roboto */
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --montserrat: "Montserrat", sans-serif;

}